{% extends "base.html" %}
{% load url from future %}


{% block title %}Login{% endblock %}


{% block breadcrumbs %}
    <a href="/">Home</a> » <a href="/accounts/login/">Login</a>
{% endblock %}


{% block container %}
<div id="container_content">
    <div class="login_form">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table class="center">
                {{ form.as_table }}
                <tr>
                    <td class="right_field"><input type="submit" value="Log in" /></td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}
