{% extends "base.html" %}
{% load url from future %}


{% block title %}{{ title }}{% endblock %}


{% block header_login_register_links %}
    <a href="/accounts/login/?next=/">Log in</a> | <a href="/accounts/register/">Register</a><!--TODO Poñer iconas necesarias xunta ás ligazóns de login, register -->
{% endblock %}


{% block breadcrumbs %}
    » <a href="/accounts/logout/">Logout</a>
{% endblock %}


{% block container %}
<div id="container_content">
    <h1>{{ title }}</h1>
    <p>Thank you.</p>
    <a href="/accounts/login/?next=/">Log in again</a>
</div>
{% endblock %}
