{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% trans "Registration completed" %}{% endblock %}


{% block breadcrumbs %}
    » <a href="{% url registration_complete %}">{% trans "Registration completed" %}</a>
{% endblock %}


{% block content %}
    <h1>{% trans "Registration completed" %}</h1>
    <p>{% blocktrans %}The registration process is completed. An email message has been sent to the specified address. Now you should check your email for this message, and follow the specified instructions.{% endblocktrans %}</p>
{% endblock %}
