{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Registration completed" %}{% endblock %}


{% block breadcrumbs %}
    » <a href="/accounts/register/">{% trans "Registration" %}</a> » <a href="/accounts/register/complete/">{% trans "Registration completed" %}</a>
{% endblock %}


{% block content %}
    <h1>{% trans "Registration completed" %}</h1>
    <p>{% blocktrans %}The registration process is completed. An email message has been sent to the specified address. Now you should check your email for this message, and follow the specified instructions.{% endblocktrans %}</p>
{% endblock %}
