{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% trans "Registration" %}{% endblock %}


{% block breadcrumbs %}
    » <a href="{% url registration_register %}">{% trans "Registration" %}</a>
{% endblock %}


{% block container %}
    <div id="container_content">
        <div class="login_form">
            <form method="post" action="{% url registration_register %}">
                {% csrf_token %}
                <table class="center">
                {% for field in form %}
                    <tr>{% if field.errors %}
                        <td colspan="2">{{ field.errors }}</td>
                    </tr>
                    <tr>{# #TODO find out how can be highlighted the form fields with errors #}<!--<tr class="errors">-->{% endif %}
                        <th class="left_field">{{ field.label_tag }}:</th>
                        <td class="right_field">{{ field }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td class="left_field"><input type="submit" value="{% trans 'Register' %}" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
