{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

    <h1>{{ concept }}</h1>
    <p><b>Glossary:</b> {{ concept.glossary }}</p>
    
    <p><b>Subject field:</b>
    {% if concept.subject_field %}
        {{ concept.subject_field }}
    {% endif %}</p>
    
    <p><b>Broader concept:</b>
    {% if concept.broader_concept %}
        {{ concept.broader_concept }}
    {% endif %}</p>
    
    <p><b>Related concepts:</b></p>

    <ul>
    {% for related_concept in concept.related_concepts.all %}
        <li><a href="/concepts/{{ related_concept.id }}/">{{ related_concept }}</a></li>
    {% endfor %}
    </ul>

    <p><b>Definitions:</b></p>

    <ul>
    {% for definition in concept.definition_set.all %}
        <li>{{ definition.language }} <a href="/definitions/{{ definition.id }}/">{{ definition.definition_text|truncatewords:10 }}</a></li>
    {% endfor %}
    </ul>


    <p><b>Translations:</b></p>

    <ul>
    {% for translation in concept.translation_set.all %}
        <li>{{ translation.language }} <a href="/translations/{{ translation.id }}/">{{ translation.translation_text }}</a>
        {% if translation.part_of_speech %}
            {{ translation.part_of_speech }}
        {% endif %}
        {% if translation.process_status %}
            {{ translation.process_status }}
        {% endif %}
        {% if translation.administrative_status %}
            {{ translation.administrative_status }}
        {% endif %}
        </li>
    {% endfor %}
    </ul>

