{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_autoterm_index %}">{% trans "Autoterm" %}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_autoterm_32.png" />{% trans "Autoterm" %}</h1>
    
    <p>{% blocktrans %}Autoterm is a feature of the free software localization tool Virtaal. It consists in automatically getting from the Internet a TBX file with terminology data for the language Virtaal currently is using for translating to, without no need for the user doing nothing in order to getting it. In order to do that Virtaal has a list of URLs from which it can retrieve a TBX file for a language.{% endblocktrans %}</p>
    
    <p>{% blocktrans %}The Terminator Autoterm feature is aimed to provide this TBX files on the fly by visiting some specific URLs, with the latest changes and improvements done to the exported data. This way Terminator will allow to Virtaal only store a list of URLs where Terminator instances are running instead of listing a lot of URLs. By default it exports data from all the glossaries in the Terminator instance, and only for the chosen language and English. It also has other constraints, like exporting only finalized definitions, and only finalized and preferred translations.{% endblocktrans %}</p>
    
    {% url terminator_autoterm_query language_code='pt_BR' as example_url %}
    <p>{% blocktrans %}By visiting <b>/autoterm/pt_BR/</b> in the current site with your browser you will retrieve a TBX file with terminological data for Brazilian Portuguese, and <b>/autoterm/fr/</b> will do the same but for French. You can try by clicking on the following link and download the <a href="{{ example_url }}">Terminator Autoterm TBX file for Brazilian Portuguese</a>.{% endblocktrans %}</p>
    
{% endblock %}
