<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{{ STATIC_PREFIX }}css/style.css{% endblock %}" />
    <title>{% block title %}Terminator{% endblock %}</title>
</head>
<body>
    <!-- Header -->
    <div id="header">
        <div id="logoimage">
            <img src="{{ STATIC_PREFIX }}images/terminator_logo.png" />
        </div>
        <div id="headertext">
            <h1 id="headertitle">Terminator</h1>
            <p id="headersubtitle">Easy terminology for dummies</p>
        </div>
    </div>
    <!-- END Header -->
    
    
    <!-- Breadcrumbs -->
    <div id="breadcrumbs">
        {% block breadcrumbs %}{% endblock %}
    </div>
    <!-- END Breadcrumbs -->
    
    <!-- Container -->
    <div id="container">
        <!-- Content -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <!-- END Content -->
        <!-- Sidebar -->
        <div id="sidebar">
            {% block specificsidebar %}{% endblock %}
            {% block sidebar %}
            <ul>
                <li><a href="/export/">Export</a></li>
                <li><a href="/import/">Import TBX</a></li>
                <li><a href="/glossaries/">Glossary list</a></li>
                <li><a href="/export/">Concept proposals</a></li>
                <li><a href="/export/">Pending concepts</a></li>
                <li><a href="/export/">Latest comments</a></li>
                <li><a href="/export/">Latest changes</a></li>
                <li><a href="/export/">Export</a></li>
                <li><a href="/export/">Export</a></li>
                <li><a href="/export/">Export</a></li>
            </ul>
            {% endblock %}
        </div>
        <!-- END Sidebar -->
    </div>
    <!-- END Container -->
    
    <!-- Footer -->
    <div id="footer">
        {% block footer %}Terminator footer{% endblock %}
    </div>
    <!-- END Footer -->
</body>
</html>
