{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="/">Home</a> » {% block search_breadcrumbs %}{% endblock %}
{% endblock %}

{% block breadcrumbs_search %}{% endblock %}

{% block content %}
    <div class="search_form">
    {% block top_search_form_include %}
        <form action="" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        {% block top_search_advanced_search_link %}{% endblock %}
    {% endblock %}
    </div>
    
    <ul class="search_results">
        {% include "search_results_snippet.html" %}
    </ul>
    
    {% if search_results and search_results|length > 4 %}
        <div class="search_form">
        {% block bottom_search_form_include %}
            <form action="" method="get">
                {% include "search_form_snippet.html" %}
            </form>
        {% endblock %}
        </div>
    {% endif %}
{% endblock %}
