{% extends "base.html" %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » {% block breadcrumbs_item %}{% endblock %}
{% endblock %}

{% block breadcrumbs_search %}{% endblock %}

{% block content %}
    <div class="search_form">
        <form action="" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        {% block top_search_advanced_search_link %}{% endblock %}
    </div>
    
    <ul class="search_results{% if not search_results or search_results|length < 5 %} search_extra_bottom_space{% endif %}">
        {% include "search_results_snippet.html" %}
    </ul>
    
    {% if search_results and search_results|length > 4 %}
        <div class="search_form">
            <form action="" method="get">
                {% include "search_form_snippet.html" %}
            </form>
        </div>
    {% endif %}
{% endblock %}
