{% load i18n %}{% load static %}{% get_static_prefix as STATIC_PREFIX %}{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}" />
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{{ STATIC_PREFIX }}css/style.css{% endblock %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Feed for latest changes' %}" href="{% url terminator_feed_all %}">
    <title>{% block title %}{% trans "Terminator: terminology management tool" %}{% endblock %}</title>
</head>
<body>
    <div id="header">
        <div id="header_logo_title">
            <div id="header_logo">
                <img src="{{ STATIC_PREFIX }}images/terminator_logo.png" />
            </div>
            <div id="header_title">
                <h1>Terminator</h1>
                <p>{% trans "Easy terminology for FLOSS localization" %}</p>
            </div>
        </div>
        <div id="header_session_block">
            <div id="header_language_selection">
            {% block language_selection %}
                <form action="{% url django.views.i18n.set_language %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ next }}" />
                    <select name="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if LANGUAGE_CODE == language.code %} selected="selected"{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
                    {% endfor %}
                    </select>
                    <input type="submit" value="{% trans 'Go' %}" />
                </form>
            {% endblock %}
            </div>
            
            <div id="header_session">
            {% block session_info %}
                {% if user.is_authenticated %}
                    {% trans "Welcome," %} <a href="{% url profiles_profile_detail username=user.username %}">{{ user.username }}</a> | <a href="{% url django.contrib.auth.views.logout %}?next={{ next }}">{% trans "Log out" %}</a>{# #TODO Put icons besides login, logout, register and profile #}
                {% else %}
                    <a href="{% url django.contrib.auth.views.login %}?next={{ next }}">{% trans "Log in" %}</a> | <a href="{% url registration_register %}">{% trans "Register" %}</a>{# #TODO Put icons besides login, logout, register and profile #}
                {% endif %}
            {% endblock %}
            </div>
        </div>
    </div>
    
    
    <div id="breadcrumbs">
        <div id="breadcrumbs_links">
            <a href="{% url terminator_index %}"><img src="{{ STATIC_PREFIX }}images/icon_home_16.png" /> {% trans "Home" %}</a> {% block breadcrumbs %}{% endblock %}
        </div>
        {% block breadcrumbs_search %}
        <div id="breadcrumbs_search">
            <form action="{% url terminator_search %}" method="get">
            {% include "search_form_snippet.html" %}
            </form>
        </div>
        {% endblock %}
    </div>
    
    
    <!-- Page content -->
    <div id="container">
    {% block container %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        
        <div id="sidebar">
            {% block specificsidebar %}{% endblock %}
            {% block commonsidebar %}
            <ul>
                <li><a href="{% url terminator_help %}"><img src="{{ STATIC_PREFIX }}images/icon_help_24.png" />{% trans "Help" %}</a></li>
                <li><a href="{% url terminator_export %}"><img src="{{ STATIC_PREFIX }}images/icon_export_24.png" />{% trans "Export" %}</a></li>
                {% if perms.terminator.add_glossary %}<li><a href="{% url terminator_import %}"><img src="{{ STATIC_PREFIX }}images/icon_import_24.png" />{% trans "Import TBX" %}</a></li>{% endif %}
                <li><a href="{% url terminator_autoterm_index %}"><img src="{{ STATIC_PREFIX }}images/icon_autoterm_24.png" />{% trans "Autoterm" %}</a></li>
                <li><a href="{% url terminator_glossary_list %}"><img src="{{ STATIC_PREFIX }}images/icon_glossary_24.png" />{% trans "Glossary list" %}</a></li>
                <li><a href="{% url terminator_proposal_list %}"><img src="{{ STATIC_PREFIX }}images/icon_comment_24.png" />{% trans "Concept proposals" %}</a></li>
                {# #TODO<li><a href="/concepts/pending/">Pending concepts</a></li>#}{# #TODO Use the trans template tag #}
                {# #TODO<li><a href="/comments/latest/">Latest comments</a></li>#}{# #TODO Use the trans template tag #}
                {# #TODO<li><a href="/changes/latest/">Latest changes</a></li>#}{# #TODO Use the trans template tag #}
                
                {% if user.is_authenticated %}<li><a href="{% url profiles_profile_list %}"><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />{% trans "Users" %}</a></li>{% endif %}
                {% if user.is_staff and not user.is_superuser %}<li><a href="{% url admin:index %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Go to admin" %}</a></li>{% endif %}
                {% if user.is_superuser %}
                
                <hr />
                <li><a href="{% url admin:terminator_language_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage languages" %}</a></li>
                <li><a href="{% url admin:terminator_partofspeech_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage parts of speech" %}</a></li>
                <li><a href="{% url admin:terminator_grammaticalgender_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage grammatical genders" %}</a></li>
                <li><a href="{% url admin:terminator_grammaticalnumber_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage grammatical numbers" %}</a></li>
                <li><a href="{% url admin:terminator_administrativestatus_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage administrative statuses" %}</a></li>
                <li><a href="{% url admin:terminator_administrativestatusreason_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage administrative status reasons" %}</a></li>
                <li><a href="{% url admin:terminator_externallinktype_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_admin_24.png" />{% trans "Manage external link types" %}</a></li>
                <li><a href="{% url admin:auth_user_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />{% trans "Manage users and permissions" %}</a></li>
                {% endif %}
            </ul>
            {% endblock %}
        </div>
    {% endblock %}
    </div>
    <!-- END page content -->
    
    
    <div id="footer">
        <div id="footer_text">{% block footer %}{% blocktrans %}Licensed under <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPL v3</a>. <a href="https://github.com/translate/terminator/">Get the code</a>.{% endblocktrans %}{% endblock %}
        {% block content_license %}{% blocktrans %}<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>Content licensed under <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 Unported License</a>.{% endblocktrans %}{% endblock %}</div>
    </div>
</body>
</html>
