{% extends "base.html" %}

{% block breadcrumbs %}
    » {% block breadcrumbs_item %}{% endblock %}
{% endblock %}

{% block breadcrumbs_search %}{% endblock %}

{% block content %}
    <div class="search_form">
        <form action="" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        {% block top_search_advanced_search_link %}{% endblock %}
    </div>
    
    <ul class="search_results{% if not search_results or search_results|length < 5 %} search_extra_bottom_space{% endif %}">
        {% include "search_results_snippet.html" %}
    </ul>
    
    {% if search_results and search_results|length > 4 %}
        <div class="search_form">
            <form action="" method="get">
                {% include "search_form_snippet.html" %}
            </form>
        </div>
    {% endif %}
{% endblock %}
