{% extends "base.html" %}

{% block breadcrumbs %}
    » <a href="/export/">Export</a>
{% endblock %}

{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_export_32.png" /> Export</h1>    
    
    <div class="search_form">
        <form action="" method="get">
            <table class="center">
            {% for field in export_form %}
                <tr>{% if field.errors %}
                    {{ field.errors }}{% endif %}
                    <td class="left_field">{% if forloop.first %}<b>{% endif %}{{ field.label }}:{% if forloop.first %}<b>{% endif %}</td>
                    <td class="right_field">{{ field }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td class="left_field"><input type="submit" value="Export" /></td>
                    <td></td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}
