{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<div class="collaboration_request_form">
    {% if collaboration_request_message %}<p class="successnote">{{ collaboration_request_message }}</p>{% endif %}
    {% if collaboration_request_error_message %}<p class="errornote">{{ collaboration_request_error_message }}</p>{% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        <table class="center">
        {% for field in collaboration_request_form %}
            <tr>{% if field.errors %}
                {{ field.errors }}{% endif %}
                <th class="left_field">{{ field.label_tag }}:</th>
                <td class="right_field">{{ field }}</td>
            </tr>
        {% endfor %}
            <tr>
                <td></td>
                <td class="left_field"><input type="submit" value="{% trans 'Send request' %}" /></td>
            </tr>
        </table>
    </form>
</div>
