{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    » <a href="/import/">{% trans "Import" %}</a>
{% endblock %}

{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_import_32.png" /> {% trans "Import" %}</h1>    
    
    {% if user.is_authenticated %}
        <div class="search_form">
            {% if import_message %}<p class="successnote">{{ import_message }}</p>{% endif %}
            {% if import_error_message %}<p class="errornote">{{ import_error_message }}</p>{% endif %}
            
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                <table class="center">
                {% for field in import_form %}
                    <tr>{% if field.errors %}
                        <td colspan="2">{{ field.errors }}</td>
                    </tr>
                    <tr><!-- TODO investigar no futuro como destacar a opción do formulario que non se mostra correctamente --><!--<tr class="errors">-->{% endif %}
                        <th class="left_field">{{ field.label_tag }}:</th>
                        <td class="right_field">{{ field }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td class="left_field"><input type="submit" value="{% trans 'Import' %}" /></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    {% else %}
        {% blocktrans %}You need to <a href="/accounts/login/?next={{ next }}">log in</a> if you want to import a file.{% endblocktrans %}
    {% endif %}
{% endblock %}
