{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_import %}">{% trans "Import" %}</a>
{% endblock %}

{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_import_32.png" />{% trans "Import" %}</h1>
    
    {% if user.is_authenticated %}
        <div class="search_form">
            {% if import_message %}<p class="successnote">{{ import_message }}</p>{% endif %}
            {% if import_error_message %}<p class="errornote">{{ import_error_message|linebreaksbr }}</p>{% endif %}
            
            <form enctype="multipart/form-data" action="" method="post">
                {% csrf_token %}
                <table class="center">
                {% for field in import_form %}
                    <tr>{% if field.errors %}
                        <td colspan="2">{{ field.errors }}</td>
                    </tr>
                    <tr>{# #TODO find out how can be highlighted the form fields with errors #}<!--<tr class="errors">-->{% endif %}
                        <th class="left_field">{{ field.label_tag }}:</th>
                        <td class="right_field">{{ field }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td class="left_field"><input type="submit" value="{% trans 'Import' %}" /></td>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    {% else %}
        {% url django.contrib.auth.views.login as login_url %}
        {% blocktrans %}You need to <a href="{{ login_url }}?next={{ next }}">log in</a> if you want to import a file.{% endblocktrans %}
    {% endif %}
{% endblock %}
