{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs_search %}{% endblock %}


{% block container %}
<div id="container_content">
    
    <div class="search_form">
        <form action="{% url terminator_search %}" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        {% url terminator_advanced_search as advanced_search_url %}
        {% blocktrans %}You may also try the <a href="{{ advanced_search_url }}">advanced search</a>{% endblocktrans %}.
    </div>
    
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_glossary_32.png" /> {% trans "Glossary List" %}</h2>
            <ul class="changelist">
            {% for glossary in glossary_list %}
                <li class="glossaryitem">
                    <a href="{% url terminator_glossary_detail pk=glossary.pk %}">{{ glossary.name }}</a>
                    <p class="change_ago">{{ glossary.description }}</p>
                </li>
            {% empty %}
                <p>{% trans "No glossaries are available." %}</p>
                
                {% if perms.terminator.add_glossary %}
                    <p><a href="{% url admin:terminator_glossary_add %}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new glossary" %}</a></p>
                {% endif %}
            {% endfor %}
            {% if are_there_more_glossaries %}
                <li class="see_all_items">
                    <a href="{% url terminator_glossary_list %}">{% trans "See all glossaries" %}</a>
                </li>
            {% endif %}
            </ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_help_32.png" /> {% trans "What is Terminator?" %}</h2>
            <p>{% blocktrans %}Terminator is an online multilanguage collaborative terminology management tool focused on the creation of terminology glossaries to help localize free and open source software. Despite this, Terminator can be used to create terminology for whatever knowledge field. Terminator itself is free software licensed under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License version 3</a>.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}This tool is able to manage several glossaries with hundreds of concepts having one definition and multiple translations for every language that is set up in the configuration. It is also capable of attaching links to external resources that may help in the terminology creation, and has support for a discussion thread for every language in every concept.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}Terminator allows to specify relationships between concepts in a glossary, and also supports specifying data for every definition, external resource and specially for translations. This data can be from the data source or status data, to translation grammatical data or links to translation real use examples.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}All changes are tracked and can be easily viewed by all users at the home page. Among the changes tracked are latest changes in translations, comments, concepts and so on.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}In order to improve security and avoid other problems or conflicts that can arise if all users have enough privileges to do whatever they want, Terminator provides several user roles with different levels of privileges. This roles are by glossary and not by user, so a user can have different level of access depending on the glossary.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}One of the key features is the ability to export the data to TBX (TermBase eXchange) format which is used to interchange terminology among different systems or CAT (Computer Aided Translation) tools. The export process can be configured in order to export some subset of all glosaries, to export only data for some given languages or just by the status of the concept or its data. Terminator is also capable of automatically generate TBX files to feed the Virtaal CAT tool using its Autoterm.{% endblocktrans %}</p>
            
            <p>{% blocktrans %}In order to help the deploy and integration when a previous terminology work is done, Terminator provides an importing feature which allows to import terminology recorded using the TBX format.{% endblocktrans %}</p>
            
            {% url terminator_help as help_url %}
            <p>{% blocktrans %}If you want to learn more about Terminator and how to use it you may want to <a href="{{ help_url }}">read the help</a>.{% endblocktrans %}</p>
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{% trans "Propose a new concept" %}</h2>
            <p>{% trans "Proposing a new concept is easy. Just send a word and a definition in any language!" %}</p>
            
            <div class="index_proposal_form">
                {% if user.is_authenticated %}
                    {% if new_proposal_message %}<p class="successnote">{{ new_proposal_message }}</p>{% endif %}
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{ proposal_form.as_table }}
                        </table>
                        <input type="submit" value="{% trans 'Send' %}" />
                    </form>
                {% else %}
                    {% url django.contrib.auth.views.login as login_url %}
                    {% blocktrans %}You need to <a href="{{ login_url }}?next={{ next }}">log in</a> if you want to send a new proposal.{% endblocktrans %}
                {% endif %}
            </div>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{% trans "Latest Proposals" %}</h2>{# #TODO put a RSS feed #}
            <ul class="changelist">
            {% for proposal in latest_proposals %}
                <li class="proposallink">
                    {% url terminator_proposal_detail pk=proposal.pk as proposal_url %}
                    {% blocktrans with proposal_word=proposal.word proposal_language=proposal.language proposal_glossary=proposal.for_glossary proposal_definition=proposal.definition|truncatewords:20  %}Proposed <a href="{{ proposal_url }}">{{ proposal_word }}</a> for <b>{{ proposal_language }}</b> in glossary <b>{{ proposal_glossary }}</b> with definition <b>«{{ proposal_definition }}»</b>.{% endblocktrans %}
                    <p class="change_ago">{% blocktrans with time_ago=proposal.sent_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            </ul>
            {% if latest_proposals|length_is:"8" %}
            <p><a href="{% url terminator_proposal_list %}">{% trans "See all proposals" %}</a></p>
            {% endif %}
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_glossary_32.png" />{% trans "Latest Changes in Glossaries" %}</h2>
            <ul class="changelist">
                <li><a href="{% url terminator_feed_glossaries %}"><img src="{{ STATIC_PREFIX }}images/icon_rss_24.png" />{% trans "RSS feed with latest changes in glossaries" %}</a></li>
            {% for change in latest_glossary_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="{% url terminator_glossary_detail pk=change.object_id %}">{{ change.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{% trans "Latest Changes in Concepts" %}</h2>
            <ul class="changelist">
                <li><a href="{% url terminator_feed_concepts %}"><img src="{{ STATIC_PREFIX }}images/icon_rss_24.png" />{% trans "RSS feed with latest changes in concepts" %}</a></li>
            {% for change in latest_concept_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="{% url terminator_concept_detail pk=change.object_id %}">{{ change.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_translation_32.png" />{% trans "Latest Changes in Translations" %}</h2>
            <ul class="changelist">
                <li><a href="{% url terminator_feed_translations %}"><img src="{{ STATIC_PREFIX }}images/icon_rss_24.png" />{% trans "RSS feed with latest changes in translations" %}</a></li>
            {% for change in latest_translation_changes %}
                <li class="{% if change.data.is_addition %}addlink{% endif %}{% if change.data.is_change %}changelink{% endif %}{% if change.data.is_deletion %}deletelink{% endif %}">
                    {% if change.data.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.data.object_repr }}</b>
                    {% else %} 
                        {% if change.data.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="{% url terminator_concept_detail pk=change.translation_concept_id %}">{{ change.data.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.data.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/icon_comment_32.png" />{% trans "Latest Comments" %}</h2>
            <ul class="changelist">
                <li><a href="{% url terminator_feed_comments %}"><img src="{{ STATIC_PREFIX }}images/icon_rss_24.png" />{% trans "RSS feed with latest comments" %}</a></li>
            {% for comment in latest_comments %}
                <li class="proposallink">
                    {% url profiles_profile_detail username=comment.user.username as profile_url %}
                    {% blocktrans with comment_url=comment.get_absolute_url comment_id=comment.pk concept_id=comment.content_object.concept.pk language_code=comment.content_object.language.iso_code %}<a href="{{ comment_url }}">Comment {{ comment_id }}</a> in <b>concept #{{ concept_id }} ({{ language_code }})</b> by <a href="{{ profile_url }}">{{ comment_username }}</a>{% endblocktrans %}
                    <p class="change_ago">{% blocktrans with time_ago=comment.submit_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
    </div>
</div>
{% endblock %}

