{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs_search %}{% endblock %}


{% block container %}
<div id="container_content">
    
    <div class="search_form">
        <form action="/search/" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        {% blocktrans %}You may also try the <a href="/advanced_search/">advanced search</a>{% endblocktrans %}.
    </div>
    
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/glossary_32.png" /> {% trans "Glossary List" %}</h2>
            <ul class="changelist">
            {% for glossary in glossary_list %}<!-- TODO there may be dozens of glossaries, so try to limit it a little if there are a lot of them and put a "see all glosaries" link below the list -->
                <li class="glossaryitem">
                    <a href="/glossaries/{{ glossary.id }}/">{{ glossary.name }}</a>
                    <p class="change_ago">{{ glossary.description }}</p>
                </li>
            {% empty %}
                <p>{% trans "No glossaries are available." %}</p>
                
                {% if perms.terminator.add_glossary %}
                    <p><a href="/admin/terminator/glossary/add/"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new glossary" %}</a></p>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        
        <div class="index_right_column">
            <h2>&nbsp;</h2><!-- TODO show a brief description of what is Terminator instead of another glossary list -->
            <ul class="changelist">
            {% for glossary in glossary_list2 %}
                <li class="glossaryitem">
                    <a href="/glossaries/{{ glossary.id }}/">{{ glossary.name }}</a>
                    <p class="change_ago">{{ glossary.description }}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />{% trans "Propose a new concept" %}</h2>
            <p>{% trans "Proposing a new concept is easy. Just send a word and a definition in any language!" %}</p>
            
            <div class="index_proposal_form">
                {% if user.is_authenticated %}
                    {% if new_proposal_message %}<p class="successnote">{{ new_proposal_message }}</p>{% endif %}
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{ proposal_form.as_table }}
                        </table>
                        <input type="submit" value="{% trans 'Send' %}" />
                    </form>
                {% else %}
                    {% blocktrans %}You need to <a href="/accounts/login/?next={{ next }}">log in</a> if you want to send a new proposal.{% endblocktrans %}
                {% endif %}
            </div>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />{% trans "Latest Proposals" %}</h2><!-- TODO put a RSS feed -->
            <ul class="changelist">
            {% for proposal in latest_proposals %}
                <li class="proposallink">
                    {% blocktrans with proposal_id=proposal.id proposal_word=proposal.word proposal_language=proposal.language proposal_glossary=proposal.for_glossary proposal_definition=proposal.definition|truncatewords:20  %}Proposed <a href="/proposals/{{ proposal_id }}/">{{ proposal_word }}</a> for <b>{{ proposal_language }}</b> in glossary <b>{{ proposal_glossary }}</b> with definition <b>«{{ proposal_definition }}»</b>.{% endblocktrans %}
                    <p class="change_ago">{% blocktrans with time_ago=proposal.sent_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            </ul>
            {% if latest_proposals|length_is:"8" %}
            <p><a href="/proposals/">{% trans "See all proposals" %}</a></p>
            {% endif %}
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/glossary_32.png" />{% trans "Latest Changes in Glossaries" %}</h2>
            <ul class="changelist">
                <li><a href="feeds/glossaries/"><img src="{{ STATIC_PREFIX }}images/rss_24.png" />{% trans "RSS feed with latest changes in glossaries" %}</a></li>
            {% for change in latest_glossary_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="/glossaries/{{ change.object_id }}/">{{ change.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />{% trans "Latest Changes in Concepts" %}</h2>
            <ul class="changelist">
                <li><a href="feeds/concepts/"><img src="{{ STATIC_PREFIX }}images/rss_24.png" />{% trans "RSS feed with latest changes in concepts" %}</a></li>
            {% for change in latest_concept_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="/concepts/{{ change.object_id }}/">{{ change.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/translation_32.png" />{% trans "Latest Changes in Translations" %}</h2>
            <ul class="changelist">
                <li><a href="feeds/translations/"><img src="{{ STATIC_PREFIX }}images/rss_24.png" />{% trans "RSS feed with latest changes in translations" %}</a></li>
            {% for change in latest_translation_changes %}
                <li class="{% if change.data.is_addition %}addlink{% endif %}{% if change.data.is_change %}changelink{% endif %}{% if change.data.is_deletion %}deletelink{% endif %}">
                    {% if change.data.is_deletion %}
                        {% trans "Deleted" %} <b>{{ change.data.object_repr }}</b>
                    {% else %} 
                        {% if change.data.is_change %}{% trans "Modified" %}{% else %}{% trans "Added" %}{% endif %} <a href="/concepts/{{ change.translation_concept_id }}/">{{ change.data.object_repr }}</a>
                    {% endif %}
                    <p class="change_ago">{% blocktrans with time_ago=change.data.action_time|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/comment_32.png" />{% trans "Latest Comments" %}</h2>
            <ul class="changelist">
                <li><a href="feeds/comments/"><img src="{{ STATIC_PREFIX }}images/rss_24.png" />{% trans "RSS feed with latest comments" %}</a></li>
            {% for comment in latest_comments %}
                <li class="proposallink">
                    {% blocktrans with comment_url=comment.get_absolute_url comment_id=comment.id concept_id=comment.content_object.concept.pk language_code=comment.content_object.language.iso_code comment_username=comment.user.username %}<a href="{{ comment_url }}">Comment {{ comment_id }}</a> in <b>concept #{{ concept_id }} ({{ language_code }})</b> by <a href="/profiles/{{ comment.user.username }}">{{ comment_username }}</a>{% endblocktrans %}
                    <p class="change_ago">{% blocktrans with time_ago=comment.submit_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
                </li>
            {% endfor %}
            <ul>
        </div>
    </div>
</div>
{% endblock %}

