{% extends "base.html" %}

{% block breadcrumbs_search %}{% endblock %}


{% block container %}
<div id="container_content">
    
    <div class="search_form">
        <form action="/search/" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        You may also try the <a href="/advanced_search/">advanced search</a>.
    </div>
    
    
    
    
    
    
    <div style="clear: both;"><!-- TODO poñer lista de glosarios a dúas columnas para ocupar todo o espazo -->
        <h2><img src="{{ STATIC_PREFIX }}images/glossary_32.png" /> Glossary list</h2>
        {% if glossary_list %}
            <ul><!-- TODO arranxar o estilo -->
            {% for glossary in glossary_list %}
                <li><a href="/glossaries/{{ glossary.id }}/">{{ glossary.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No glossaries are available.</p>
        {% endif %}
    </div><!-- TODO poñer lista de glosarios a dúas columnas para ocupar todo o espazo -->
    
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />Propose a new concept</h2>
            <p>Proposing a new concept is easy. Just send a word and a definition in any language!</p>
            
            <div class="index_proposal_form">
                {% if user.is_authenticated %}
                    {% if new_proposal_message %}<p class="successnote">{{ new_proposal_message }}</p>{% endif %}
                    
                    <form action="" method="post">
                        {% csrf_token %}
                        <table>
                            {{ proposal_form.as_table }}
                        </table>
                        <input type="submit" value="Send" />
                    </form>
                {% else %}
                    You need to <a href="/accounts/login/?next={{ next }}">log in</a> if you want to send a new proposal.
                {% endif %}
            </div>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />Latest proposals</h2>
            <ul class="changelist">
            {% for proposal in latest_proposals %}
                <li class="proposallink">
                    Proposed <a href="/proposals/{{ proposal.id }}/">{{ proposal.word }}</a> for <b>{{ proposal.language }}</b> in glossary <b>{{ proposal.for_glossary }}</b> with definition <b>«{{ proposal.definition|truncatewords:20 }}»</b>.
                </li>
            {% endfor %}
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/glossary_32.png" />Latest changes in glossaries</h2>
            <ul class="changelist">
            {% for change in latest_glossary_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        Deleted <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}Modified{% else %}Added{% endif %} <a href="/glossaries/{{ change.object_id }}/">{{ change.object_repr }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
        
        <div class="index_right_column">
            <h2><img src="{{ STATIC_PREFIX }}images/concept_32.png" />Latest changes in concepts</h2>
            <ul class="changelist">
            {% for change in latest_concept_changes %}
                <li class="{% if change.is_addition %}addlink{% endif %}{% if change.is_change %}changelink{% endif %}{% if change.is_deletion %}deletelink{% endif %}">
                    {% if change.is_deletion %}
                        Deleted <b>{{ change.object_repr }}</b>
                    {% else %} 
                        {% if change.is_change %}Modified{% else %}Added{% endif %} <a href="/concepts/{{ change.object_id }}/">{{ change.object_repr }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </div>
    
    
    <div class="two_columns_index_row">
        <div class="index_left_column">
            <h2><img src="{{ STATIC_PREFIX }}images/translation_32.png" />Latest changes in translations</h2>
            <ul class="changelist">
            {% for change in latest_translation_changes %}
                <li class="{% if change.data.is_addition %}addlink{% endif %}{% if change.data.is_change %}changelink{% endif %}{% if change.data.is_deletion %}deletelink{% endif %}">
                    {% if change.data.is_deletion %}
                        Deleted <b>{{ change.data.object_repr }}</b>
                    {% else %} 
                        {% if change.data.is_change %}Modified{% else %}Added{% endif %} <a href="/concepts/{{ change.translation_concept_id }}/">{{ change.data.object_repr }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </div>
        
        <div class="index_right_column"><!-- TODO latest changes in comments -->
            <h2><img src="{{ STATIC_PREFIX }}images/comment_32.png" />Latest comments</h2>
        </div>
    </div>
</div>
{% endblock %}

