{% extends "base.html" %}

{% block breadcrumbs %}
    <a href="/">Home</a> » <a href="/search/">Search</a>
{% endblock %}

{% block breadcrumbs_search %}{% endblock %}

{% block content %}
    <div class="search_form">
        <form action="" method="get">
            {% include "search_form_snippet.html" %}
        </form>
        <!--You may also try the <a href="/advanced_search/">advanced search</a>.-->
    </div>
    
    <ul class="search_results">
        {% include "search_results_snippet.html" %}
    </ul>
    
    {% if search_results|length > 4 %}
        <div class="search_form">
            <form action="" method="get">
                {% include "search_form_snippet.html" %}
            </form>
        </div>
    {% endif %}
{% endblock %}
