{% extends "base_search.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block breadcrumbs_item %}<a href="{% url terminator_search %}">{% trans "Basic search" %}</a>{% endblock %}

{% block top_search_advanced_search_link %}
    {% url terminator_advanced_search as advanced_search_url %}
    {% if search_form.search_string.value and search_form.search_string.value|length > 0 %}
        {% blocktrans with search_text=search_form.search_string.value %}You may also try the <a href="{{ advanced_search_url }}?search_string={{ search_text }}">advanced search</a>.{% endblocktrans %}
    {% else %}
        {% blocktrans %}You may also try the <a href="{{ advanced_search_url }}">advanced search</a>.{% endblocktrans %}
    {% endif %}
{% endblock %}
