
body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", "Verdana", "Arial", sans-serif;
    color: #333;
    background: #fff;
}

#header {
    padding-left: 20px;
    background: #444;
    height: 70px;
}

#logoimage {
    float: left;
    padding-top: 6px;
}

#headertext {
    padding-top: 20px;
    margin-left: 60px;
}

#headertitle {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
}

#headersubtitle {
    margin: 0px;
    font-size: 14px;
    color: #666;
}

#breadcrumbs {
    margin: 0em;
    padding-top: 0.5em;
    padding-left: 5em;
    background: #c6c6c6;
    height: 32px;
}

#container {
    width: 100%;
    padding: 0px;
}

#content {
    float: left;
    width: 780px;
    margin-left: 20px;
    padding: 3em 0em;
}

#sidebar {
    float: right;
    width: 200px;
    background: #d7eef4;
}

#footer {
    clear: both;
    text-align: center;
    background: #888;
    height: 2em;
}

.breadcrumbs_search {
    text-align: right;
    padding-right: 1em;
    float:right;
}

#index_container {
    padding: 3em 0em;
    margin: 0px;
    margin-left: 3em;
    margin-right: 3em;
}

.search_form {
    text-align: center;
}

.two_columns_index_row {
    clear: both;
    padding-top: 4em;
    width: 100%;
}

.index_left_column {
    float: left;
    padding: 0;
    width: 50%;
}

.index_right_column {
    float: right;
    padding: 0;
    width: 50%;
}

.index_proposal_form {
    background-color: #eee;
    padding: 1em 2em;
    margin-right: 1em;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0px 3px;
    padding: 4px 5px;
}

ul.search_results {
    list-style-type: none;
    padding-bottom: 2em;
}

li.search_result {
    padding-top: 2em;
}

li.nested_result {
    padding-left: 6em;
}

.grammatical_info {
    color: purple;
}

.preferred {
    color: green;
}

.not_recommended {
    color: red;
}

.not_finalized {
    color: red;
    font-weight: bold;
}

.other_translations {
    color: gray;
    font-weight: bold;
}
