{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block breadcrumbs %}
    » <a href="{% url terminator_glossary_detail pk=concept.glossary.pk %}">{{ concept.glossary }}</a> » <a href="{% url terminator_concept_detail pk=concept.pk %}">{% blocktrans with concept_id=concept.pk %}Concept #{{ concept_id }}{% endblocktrans %}</a>{% if current_language %} » <a href="{% url terminator_concept_detail_for_language pk=concept.pk lang=current_language.pk %}">{{ current_language }}</a>{% endif %}
{% endblock %}


{% block content %}
    
    {% get_obj_perms user for concept.glossary as "glossary_perms" %}
    
    
    <h1><img src="{{ STATIC_PREFIX }}images/icon_concept_32.png" />{% blocktrans with concept_id=concept.pk %}Concept #{{ concept_id }}{% endblocktrans %}</h1>
    
    {% if concept.get_list_of_used_languages %}
        <div class="language_link_list align_left_list">
        {% for lang in concept.get_list_of_used_languages %}
            {% if lang != current_language.pk %}
                <a href="{% url terminator_concept_detail_for_language pk=concept.pk lang=lang %}" class="language_link">{{ lang }}</a>
            {% else %}
                <span class="current_language">{{ lang }}</span>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    
    
    
    <p><b>{% trans "Subject field:" %}</b>{% if concept.subject_field %} <a href="{% url terminator_concept_detail pk=concept.subject_field.pk %}">{% blocktrans with concept_id=concept.subject_field.pk %}Concept #{{ concept_id }}{% endblocktrans %}</a>{% endif %}</p>
    
    <p><b>{% trans "Broader concept:" %}</b>{% if concept.broader_concept %} <a href="{% url terminator_concept_detail pk=concept.broader_concept.pk %}">{% blocktrans with concept_id=concept.broader_concept.pk %}Concept #{{ concept_id }}{% endblocktrans %}</a>{% endif %}</p>
    
    <p><b>{% trans "Related concepts:" %}</b></p>
    <ul class="itemlist">
    {% for related_concept in concept.related_concepts.all %}
        <li class="conceptitem">
            <a href="{% url terminator_concept_detail pk=related_concept.pk %}">{% blocktrans with concept_id=related_concept.pk %}Concept #{{ concept_id }}{% endblocktrans %}</a>
        </li>
    {% endfor %}
    </ul>
    
    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
        <p><a href="{% url admin:terminator_concept_change concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this concept" %}</a> &nbsp; &nbsp;
        <a href="{% url admin:terminator_concept_delete concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" />{% trans "delete this concept" %}</a></p>
    {% endif %}
    
    
    
    
    {% include "terminator/definitions_snippet.html" %}
    
    
    {% include "terminator/external_resources_snippet.html" %}
    
    
    {% include "terminator/translations_snippet.html" %}
    
    
    {% include "terminator/summary_message_snippet.html" %}
    
    
    {% include "terminator/comments_snippet.html" %}
    
    
{% endblock %}



{% block specificsidebar %}
    
    {% get_obj_perms user for concept.glossary as "glossary_perms" %}
    
    <ul>
        {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
            <li><a href="{% url admin:terminator_concept_add %}?glossary={{ concept.glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "Add new concept" %}</a></li>
        {% endif %}
        {# #TODO add more links to specific sidebar #}
        {% with other_concepts=concept.glossary.concept_set.all %}
            <li>
                <ul class="concept_list">
                {% for other_concept in other_concepts|slice:":10" %}
                    <li><a href="{% url terminator_concept_detail pk=other_concept.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_concept_16.png" />{{ other_concept }}</a></li>
                {% endfor %}
                </ul>
            </li>
            {% if other_concepts|length > 10 %}
                <li><a href="{% url terminator_glossary_detail pk=concept.glossary.pk %}">{% trans "See all glossary concepts" %}</a></li>
            {% endif %}
        {% endwith %}
    </ul>
    
    <hr />
{% endblock %}

