{% extends "base.html" %}
{% load guardian_tags %}
{% load comments %}



{% block breadcrumbs %}
    » <a href="/glossaries/{{ concept.glossary.id }}/">{{ concept.glossary }}</a> » <a href="/concepts/{{ concept.id }}/">{{ concept }}</a>{% if current_language %} » <a href="/concepts/{{ concept.id }}/{{ current_language.pk }}/">{{ current_language }}</a>{% endif %}
{% endblock %}


{% block content %}
    
    {% get_obj_perms user for concept.glossary as "glossary_perms" %}
    
    
    <h1><img src="{{ STATIC_PREFIX }}images/concept_32.png" />{{ concept }}</h1>
    
    {% if concept.get_list_of_used_languages %}
        <div class="language_link_list align_left_list">
        {% for lang in concept.get_list_of_used_languages %}
            {% if lang != current_language.pk %}
                <a href="/concepts/{{ concept.id }}/{{ lang }}/" class="language_link">{{ lang }}</a>
            {% else %}
                <span class="current_language">{{ lang }}</span>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
    
    
    
    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}<!-- TODO empregar estilos e non BR -->
        <a href="/admin/terminator/concept/{{ concept.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />edit this concept</a> &nbsp; &nbsp;
        <a href="/admin/terminator/concept/{{ concept.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" />delete this concept</a><br /><br />
    {% endif %}
    
    <p><b>Subject field:</b>{% if concept.subject_field %} <a href="/concepts/{{ concept.subject_field.id }}/">{{ concept.subject_field }}</a>{% endif %}</p>
    
    <p><b>Broader concept:</b>{% if concept.broader_concept %} <a href="/concepts/{{ concept.broader_concept.id }}/">{{ concept.broader_concept }}</a>{% endif %}</p>
    
    <p><b>Related concepts:</b></p>
    <ul>
    {% for related_concept in concept.related_concepts.all %}
        <li><a href="/concepts/{{ related_concept.id }}/">{{ related_concept }}</a></li>
    {% endfor %}
    </ul>
    
    
    
    <h2>Definitions:</h2>
    {% if "is_terminologist_in_this_glossary" in glossary_perms %}
        <a href="/admin/terminator/definition/add/?concept={{ concept.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> add a new definition to this concept</a>
    {% endif %}
    
    <div class="language_link_list">
    {% for definition in concept.definition_set.all %}
        {% if definition.language != current_language %}
            <a href="/concepts/{{ concept.id }}/{{ definition.language.pk }}/" class="language_link">{{ definition.language.pk }}</a>
        {% else %}
            <span class="current_language">{{ definition.language.pk }}</span>
        {% endif %}
    {% endfor %}
    </div>
    
    <ul>
    {% for definition in concept.definition_set.all %}
        {% if not current_language or current_language and definition.language == current_language %}
            <li><b>{{ definition.language }}</b>
            
            {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                <a href="/admin/terminator/definition/{{ definition.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" /> edit this definition</a> &nbsp; &nbsp;
                <a href="/admin/terminator/definition/{{ definition.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> delete this definition</a><br /><!-- TODO empregar estilos e non BR -->
            {% endif %}
            
            {% if not definition.is_finalized %} <br /><!-- TODO empregar estilos e non BR --><span class="not_finalized">Not finalized</span><i> {% endif %}
            {{ definition.definition_text|linebreaks }}
            {% if not definition.is_finalized %} </i> {% endif %}
            {% if definition.source %} <a href="{{ definition.source }}">{{ definition.source }}</a><br /><br /><!-- TODO empregar estilos e non BR -->{% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
    
    
    
    <h2>External resources:</h2>
    {% if "is_terminologist_in_this_glossary" in glossary_perms %}
        <a href="/admin/terminator/externalresource/add/?concept={{ concept.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> add a new external resource to this concept</a>
    {% endif %}
    
    <ul>
    {% for externalresource in concept.externalresource_set.all %}
        <li>{{ externalresource.language }}: <a href="{{ externalresource.address }}"> {{ externalresource.address }}</a><!-- TODO se é unha imaxe ou un vídeo encastralo en vez poñer a ligazón -->
        {{ externalresource.description|linebreaks }}
        
        {% if "is_terminologist_in_this_glossary" in glossary_perms %}
            <a href="/admin/terminator/externalresource/{{ externalresource.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" /> edit this external resource</a> &nbsp; &nbsp;
            <a href="/admin/terminator/externalresource/{{ externalresource.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> delete this external resource</a><br /><br /><br /><!-- TODO empregar estilos e non BR -->
        {% endif %}
        </li>
    {% endfor %}
    </ul>
    
    
    
    <h2>Translations:</h2>
    {% if "is_terminologist_in_this_glossary" in glossary_perms %}
        <a href="/admin/terminator/translation/add/?concept={{ concept.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> add a new translation to this concept</a>
    {% endif %}
    
    <ul>
    {% for translation in concept.translation_set.all %}
        <li>{{ translation.language }}: <b>{{ translation.translation_text }}</b>
        
        {% if "is_terminologist_in_this_glossary" in glossary_perms %}
            &nbsp; &nbsp; &nbsp; <a href="/admin/terminator/translation/{{ translation.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" /> edit this translation</a> &nbsp; &nbsp;
            <a href="/admin/terminator/translation/{{ translation.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> delete this translation</a>
        {% endif %}
        
        
        <br /><!-- TODO empregar estilos e non BR -->
        <b>Status:</b> {% if translation.administrative_status %}{{ translation.administrative_status }}{% endif %}
        {% if translation.administrative_status_reason %}<b>Reason:</b> {{ translation.administrative_status_reason }}{% endif %}
        {% if not translation.process_status %}<span class="not_finalized">(Not finalized)</span>{% endif %}
        
        <br /><!-- TODO empregar estilos e non BR -->
        {% if translation.part_of_speech %}<b>Part of speech:</b> {{ translation.part_of_speech }}{% endif %}
        {% if translation.grammatical_gender %}<b>Grammatical genre:</b> {{ translation.grammatical_gender }}{% endif %}
        {% if translation.grammatical_number %}<b>Grammatical number:</b> {{ translation.grammatical_number }}{% endif %}
        
        
        <br /><!-- TODO empregar estilos e non BR -->
        {% if translation.note %}<b>Note:</b> {{ translation.note }}{% endif %}
        <br /><!-- TODO empregar estilos e non BR -->
        
        
        {% if translation.contextsentence_set.all %}
            <h3>Example sentences</h3>
            {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                <a href="/admin/terminator/contextsentence/add/?translation={{ translation.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> add a new example sentence to this translation</a>
                <br /><br /><!-- TODO empregar estilos e non BR -->
            {% endif %}
            
            <ul>
            {% for context_sentence in translation.contextsentence_set.all %}
                <li>{{ context_sentence.text }}
                {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                    <br /><!-- TODO empregar estilos e non BR -->
                    <a href="/admin/terminator/contextsentence/{{ context_sentence.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" /> edit this example sentence</a> &nbsp; &nbsp;
                    <a href="/admin/terminator/contextsentence/{{ context_sentence.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> delete this example sentence</a>
                    <br /><!-- TODO empregar estilos e non BR -->
                {% endif %}
                    <br /><!-- TODO empregar estilos e non BR -->
                </li>
            {% endfor %}
                <br /><!-- TODO empregar estilos e non BR -->
            </ul>
        {% endif %}
        
        {% if translation.corpusexample_set.all %}
            <h3>Links to real use examples</h3>
            {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                <a href="/admin/terminator/corpusexample/add/?translation={{ translation.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> add a new link to real use example to this translation</a>
                <br /><br /><!-- TODO empregar estilos e non BR -->
            {% endif %}
            
            <ul>
            {% for corpus_example in translation.corpusexample_set.all %}
                <li><a href="{{ corpus_example.address }}"> {{ corpus_example.address }}</a>
                {% if corpus_example.description %}<br />{{ corpus_example.description }}<br />{% endif %}<!-- TODO empregar estilos e non BR -->
                {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                    <a href="/admin/terminator/corpusexample/{{ corpus_example.id }}/"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" /> edit this link to real use example</a> &nbsp; &nbsp;
                    <a href="/admin/terminator/corpusexample/{{ corpus_example.id }}/delete/"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> delete this link to real use example</a>
                    <br /><!-- TODO empregar estilos e non BR -->
                {% endif %}
                    <br /><!-- TODO empregar estilos e non BR -->
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        
        </li>
    {% endfor %}
    </ul>
    
    
    
    
    
    <h2>Comments</h2>
    
    <div class="language_link_list">
    {% for lang in available_languages %}
        {% if not comments_thread.language or lang != comments_thread.language %}
            <a href="/concepts/{{ concept.id }}/{{ lang.pk }}/" class="language_link">{{ lang.pk }}</a>
        {% else %}
            <span class="current_language">{{ lang.pk }}</span>
        {% endif %}
    {% endfor %}
    </div>
    
    
    <div class="comment_block">
    {% if comments_thread %}
        {% get_comment_count for comments_thread as comment_count %}
        <div class="comment_list_header">
            <div class="comment_list_count"><b>{{ comment_count }} comments</b></div>
            <div class="comment_list_feed">
                <a href="/feeds/comments/{{ comments_thread.concept.pk }}/{{ comments_thread.language.pk }}"><img src="{{ STATIC_PREFIX }}images/rss_24.png" />RSS feed with latest comments</a>
            </div>
        </div>
        
        {% render_comment_list for comments_thread %}
        
        <div class="comment_form">
        {% if user.is_authenticated %}
            <!--<a id="comment_form" />--><!-- TODO polo visto non rula o de redirixir ao formulario -->
            {% render_comment_form for comments_thread %}
        {% else %}
            You need to <a href="/accounts/login/?next={{ next }}#comment_form">log in</a> if you want to comment.
        {% endif %}
        </div>
    {% else %}
        <div class="comment_form">
            You should click on one of the languages in the above list to see a comment thread.
        </div>
    {% endif %}
    </div>
    
    
    
    
    
    <br /><br /><br /><!-- TODO empregar estilos e non BR -->
{% endblock %}


{% block specificsidebar %}
    
    {% get_obj_perms user for concept.glossary as "glossary_perms" %}
    
    <ul class="sidebar_links">
        {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
            <li><a href="/admin/terminator/concept/add/?glossary={{ concept.glossary.id }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> Add new concept</a></li>
        {% endif %}
        <!-- TODO engadir máis ligazóns -->
    </ul>
{% endblock %}

