{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_glossary_list %}">{% trans "Glossary list" %}</a> » <a href="{% url terminator_glossary_detail pk=glossary.pk %}">{{ glossary }}</a>
{% endblock %}


{% block content %}
    
    {% get_obj_perms user for glossary as "glossary_perms" %}
    
    
    <h1><img src="{{ STATIC_PREFIX }}images/icon_glossary_32.png" />{{ glossary.name }}</h1>
    
    {% if "is_owner_for_this_glossary" in glossary_perms %}
        <p><a href="{% url admin:terminator_glossary_change glossary.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this glossary" %}</a></p>
    {% endif %}
    
    <p>{{ glossary.description }}</p>
    <p><a href="{% url terminator_export %}?from_glossaries={{ glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_tbx_16.png" /> {% trans "export glossary to TBX" %}</a></p>
    
    
    {% if user.is_authenticated %}
        <h3>{% blocktrans %}Glossary collaborators{% endblocktrans %}</h3>
        {% if collaborators %}
            <ul class="iconlist">
            {% for collaborator in collaborators %}
                <li class="useritem">
                    {% url profiles_profile_detail username=collaborator.user as profile_url %}
                    {% blocktrans with collaborator=collaborator.user role=collaborator.role %}<a href="{{ profile_url }}">{{ collaborator }}</a> as {{ role }}{% endblocktrans %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{% blocktrans %}This glossary has no collaborators.{% endblocktrans %}</p>
        {% endif %}
        
        <p>{% blocktrans %}Use the next form if you want to subscribe for comment updates on this glossary.{% endblocktrans %}</p>
        
        {% include "glossary_subscribe_form_snippet.html" %}
        
        <p>{% blocktrans %}Use the next form if you want to send a collaboration request for this glossary.{% endblocktrans %}</p>
        
        {% include "glossary_collaboration_request_form_snippet.html" %}
    {% endif %}
    
    
    <h3>{% blocktrans %}Concept list{% endblocktrans %}</h3>
    
    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
        <p><a href="{% url admin:terminator_concept_add %}?glossary={{ glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new concept to this glossary" %}</a></p>
    {% endif %}
    
    <ul class="iconlist">
    {% for concept in glossary.concept_set.all %}
        <li class="conceptitem"><a href="{% url terminator_concept_detail pk=concept.pk %}">{{ concept }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
