{% extends "base.html" %}
{% load i18n %}


{% block breadcrumbs %}
    » <a href="/glossaries/">{% trans "Glossary list" %}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/glossary_32.png" /> {% trans "Glossary list" %}</h1>
    
    {% if glossary_list %}
        <ul>
        {% for glossary in glossary_list %}
            <li>
                <a href="/glossaries/{{ glossary.id }}/">{{ glossary.name|truncatewords:4 }}</a>
                &nbsp; &nbsp; <a href="/export/?from_glossaries={{ glossary.id }}"><img src="{{ STATIC_PREFIX }}images/icon_tbx_16.png" /> {% trans "export glossary to TBX" %}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No glossaries are available." %}</p>
    {% endif %}
{% endblock %}
