{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_glossary_list %}">{% trans "Glossary list" %}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_glossary_32.png" />{% trans "Glossary list" %}</h1>
    
    {% if perms.terminator.add_glossary %}
        <p><a href="{% url admin:terminator_glossary_add %}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new glossary" %}</a></p>
    {% endif %}
    
    {% if glossary_list %}
        <ul class="iconlist">
        {% for glossary in glossary_list %}
            <li class="glossaryitem">
                <p><a href="{% url terminator_glossary_detail pk=glossary.pk %}">{{ glossary.name|truncatewords:4 }}</a></p>
                <p>{{ glossary.description|truncatewords:15 }}</p>
                <p><a href="{% url terminator_export %}?from_glossaries={{ glossary.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_tbx_16.png" /> {% trans "export glossary to TBX" %}</a></p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No glossaries are available." %}</p>
    {% endif %}
{% endblock %}
