{% extends "base.html" %}


{% block breadcrumbs %}
    » <a href="/glossaries/">Glossary list</a> » <a href="/glossaries/{{ glossary.id }}/">{{ glossary }}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/glossary_32.png" />{{ glossary.name }}</h1>
    <p>{{ glossary.description }}</p>
    <p><a href="/export/?from_glossary={{ glossary.id }}"><img src="{{ STATIC_PREFIX }}images/icon_tbx_16.png" /> export to TBX</a></p>
    
    
    {% if user.is_authenticated %}
        <p>If you want to subscribe for comment updates on this glossary send the <a href="/glossaries/{{ glossary.id }}/subscribe/">subscription form</a>.</p>
        
        <div class="collaboration_request_form">
            {% if collaboration_request_message %}<p class="successnote">{{ collaboration_request_message }}</p>{% endif %}
            {% if collaboration_request_error_message %}<p class="errornote">{{ collaboration_request_error_message }}</p>{% endif %}
            
            <form action="" method="post">
                {% csrf_token %}
                <table class="center">
                {% for field in collaboration_request_form %}
                    <tr>{% if field.errors %}
                        {{ field.errors }}{% endif %}
                        <th class="left_field">{{ field.label }}:</th>
                        <td class="right_field">{{ field }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td class="left_field"><input type="submit" value="Send request" /></td>
                    </tr>
                </table>
            </form>
        </div>
    {% endif %}
    
    
    <ul>
    {% for concept in glossary.concept_set.all %}
        <li><a href="/concepts/{{ concept.id }}/">{{ concept }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
