{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_proposal_list %}">{% trans "Proposal list" %}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_comment_32.png" />{% trans "Proposal list" %}</h1>
    {% if proposal_list %}
        <ul class="iconlist">
        {% for proposal in proposal_list %}
            <li class="commentitem"><a href="{% url terminator_proposal_detail pk=proposal.pk %}">{{ proposal }}</a>: {{ proposal.definition }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "No proposals are available." %}</p>
    {% endif %}
{% endblock %}
