{% extends "base.html" %}
{% load guardian_tags %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block breadcrumbs %}
    » <a href="{% url terminator_proposal_list %}">{% trans "Proposal list" %}</a> » <a href="{% url terminator_proposal_detail pk=proposal.pk %}">{{ proposal }}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_comment_32.png" />{{ proposal }}</h1>
    
    <p><b>{% trans "Language:" %}</b> {{ proposal.language }}</p>
    <p><b>{% trans "Word:" %}</b> {{ proposal.word }}</p>
    <p><b>{% trans "Definition:" %}</b> {{ proposal.definition }}</p>
    
    {% if user.is_authenticated %}
        <p><b>{% trans "User:" %}</b> {{ proposal.user }}</p>
    {% endif %}
    <p><b>{% trans "Sent date:" %}</b> {{ proposal.sent_date }}</p>
    <p><b>{% trans "For glossary:" %}</b> <a href="{% url terminator_glossary_detail pk=proposal.for_glossary.pk %}">{{ proposal.for_glossary.name|truncatewords:4 }}</a></p>
    
    <br />
    {% get_obj_perms user for proposal.for_glossary as "glossary_perms" %}
    {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
        <a href="{% url admin:terminator_proposal_changelist %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "accept or delete this proposal" %}</a>
    {% endif %}
    <br /><br /><br />
{% endblock %}
