{% load i18n %}

{% comment %}
Copyright 2012 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if current_language %}
    {% if summary_message %}
        <h2>{% blocktrans with language=summary_message.language %}Summary message for {{ language }}{% endblocktrans %}</h2>
        <div class="summary">
            <p><i>{% blocktrans with submit_date=summary_message.date %}Wrote on {{ submit_date }}:{% endblocktrans %}</i></p>
            
            {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
                <p>
                <a href="{% url admin:terminator_summarymessage_change summary_message.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this summary message" %}</a> &nbsp; &nbsp;
                <a href="{% url admin:terminator_summarymessage_delete summary_message.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> {% trans "delete this summary message" %}</a>
                </p>
            {% endif %}
            
            {% if not summary_message.is_finalized %}<p class="not_finalized">{% trans "(Not finalized)" %}</p>{% endif %}
            <p{% if not summary_message.is_finalized %} class="not_finalized_item"{% endif %}>{{ summary_message.text|linebreaksbr }}</p>
        </div>
    {% else %}
        {% if "is_lexicographer_in_this_glossary" in glossary_perms %}
            <h2>{% trans "Summary message" %}</h2>
            <p><a href="{% url admin:terminator_summarymessage_add %}?concept={{ concept.pk }}&language={{ current_language.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% blocktrans with language=current_language %}Add summary message for {{ language }}{% endblocktrans %}</a></p>
        {% endif %}
    {% endif %}
{% endif %}
