{% load i18n %}

{% comment %}
Copyright 2012 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<h2>{% trans "Translations" %}</h2>
{% if "is_terminologist_in_this_glossary" in glossary_perms %}
    <p><a href="{% url admin:terminator_translation_add %}?concept={{ concept.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new translation to this concept" %}</a></p>
{% endif %}

<ul class="itemlist">
{% for translation in concept.translation_set.all %}
    <li class="translation_entry">
    {% if not translation.process_status %}<span class="not_finalized_item">{% endif %}
    <p>{{ translation.language }}: <b>{{ translation.translation_text }}</b>
    
    {% if "is_terminologist_in_this_glossary" in glossary_perms %}
        &nbsp; &nbsp; <a href="{% url admin:terminator_translation_change translation.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this translation" %}</a>
        &nbsp; &nbsp;
        <a href="{% url admin:terminator_translation_delete translation.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> {% trans "delete this translation" %}</a>
    {% endif %}
    </p>
    
    <p>
    <b>{% trans "Status:" %}</b>
    {% if not translation.process_status %}<span class="not_finalized">{% trans "(Not finalized)" %}</span>{% endif %}
    {% if translation.administrative_status %}{{ translation.administrative_status }}{% endif %}
    {% if translation.administrative_status_reason %}&nbsp; <b>{% trans "Reason:" %}</b> {{ translation.administrative_status_reason }}{% endif %}
    </p>
    
    {% if translation.part_of_speech %}<p><b>{% trans "Part of speech:" %}</b> {{ translation.part_of_speech }}{% endif %}
    {% if translation.grammatical_gender %}<b>{% trans "Grammatical genre:" %}</b> {{ translation.grammatical_gender }}{% endif %}
    {% if translation.grammatical_number %}<b>{% trans "Grammatical number:" %}</b> {{ translation.grammatical_number }}{% endif %}
    {% if translation.part_of_speech %}</p>{% endif %}
    
    {% if translation.note %}<p><b>{% trans "Note:" %}</b> {{ translation.note }}</p>{% endif %}
    
    
    {% if translation.contextsentence_set.all %}
        <div class="translation_subcomponent">
            <h3>{% trans "Example sentences" %}</h3>
            {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                <p><a href="{% url admin:terminator_contextsentence_add %}?translation={{ translation.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new example sentence to this translation" %}</a></p>
            {% endif %}
            
            <ul>
            {% for context_sentence in translation.contextsentence_set.all %}
                <li class="contextsentenceitem"><p>{{ context_sentence.text }}</p>
                {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                    <p>
                    <a href="{% url admin:terminator_contextsentence_change context_sentence.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this example sentence" %}</a> &nbsp; &nbsp;
                    <a href="{% url admin:terminator_contextsentence_delete context_sentence.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> {% trans "delete this example sentence" %}</a>
                    </p>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    
    {% if translation.corpusexample_set.all %}
        <div class="translation_subcomponent">
            <h3>{% trans "Links to real use examples" %}</h3>
            {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                <p><a href="{% url admin:terminator_corpusexample_add %}?translation={{ translation.pk }}"><img src="{{ STATIC_PREFIX }}images/icon_add_16.png" /> {% trans "add a new link to real use example to this translation" %}</a></p>
            {% endif %}
            
            <ul>
            {% for corpus_example in translation.corpusexample_set.all %}
                <li class="corpusexampleitem">
                <p><a href="{{ corpus_example.address }}">{{ corpus_example.address|slice:"70" }}{% if corpus_example.address|length > 70 %}...{% endif %}</a></p>{# #TODO change this slice filter and if tag for a truncate_chars filter that will be available on Django 1.4 #}
                {% if corpus_example.description %}<p>{{ corpus_example.description }}</p>{% endif %}
                {% if "is_terminologist_in_this_glossary" in glossary_perms %}
                    <p><a href="{% url admin:terminator_corpusexample_change corpus_example.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_edit_16.png" />{% trans "edit this link to real use example" %}</a> &nbsp; &nbsp;
                    <a href="{% url admin:terminator_corpusexample_delete corpus_example.pk %}"><img src="{{ STATIC_PREFIX }}images/icon_delete_16.png" /> {% trans "delete this link to real use example" %}</a></p>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if not translation.process_status %}</span>{% endif %}
    </li>
{% endfor %}
</ul>
