{% extends "base.html" %}
{% load i18n %}


{% block title %}{% trans "Profile" %}{% endblock %}


{% block breadcrumbs %}
    » <a href="/profiles/">{% trans "Profiles" %}</a> » <a href="/profiles/{{ profile.user }}">{% blocktrans with user=profile.user %}{{ user }} profile{% endblocktrans %}</a>
{% endblock %}


{% block content %}
    <h1>{% blocktrans with user=profile.user %}{{ user }} profile{% endblocktrans %}</h1>
    
    {% if profile.user == user %}
        <p>{% blocktrans %}You can edit your profile using the <a href="/profiles/edit/">profile edition form</a>.{% endblocktrans %}</p>
    {% endif %}
    
    
    <h3>{% blocktrans with user=profile.user %}Comments by {{ user }}{% endblocktrans %}</h3>
    <ul>
    {% for comment in comment_list %}
        <li>
            {% blocktrans with comment_url=comment.get_absolute_url comment_id=comment.id concept_id=comment.content_object.concept.pk language=comment.content_object.language glossary=comment.content_object.concept.glossary comment_username=comment.user.username %}
            <a href="{{ comment_url }}">Comment {{ comment_id }}</a> in <b>concept #{{ concept_id }}</b> for {{ language }} in glossary {{ glossary }}{% endblocktrans %}
            <p class="change_ago">{% blocktrans with time_ago=comment.submit_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
        </li>
    {% endfor %}
    </ul>
    
{% endblock %}
