{% extends "base.html" %}
{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% trans "Profile" %}{% endblock %}


{% block breadcrumbs %}
    » <a href="{% url profiles_profile_list %}">{% trans "Profiles" %}</a> » <a href="{% url profiles_profile_detail username=profile.user %}">{% blocktrans with user=profile.user %}{{ user }} profile{% endblocktrans %}</a>
{% endblock %}


{% block content %}
    <h1><img src="{{ STATIC_PREFIX }}images/icon_user_32.png" />{% blocktrans with user=profile.user %}{{ user }} profile{% endblocktrans %}</h1>
    
    {% if profile.user == user %}
        {% url profiles_edit_profile as profile_edition_url %}
        <p>{% blocktrans %}You can edit your profile using the <a href="{{ profile_edition_url }}">profile edition form</a>.{% endblocktrans %}</p>
    {% endif %}
    
    
    <h3>{% blocktrans with user=profile.user %}Glossaries in which {{ user }} collaborates{% endblocktrans %}</h3>
    {% if glossaries %}
        <ul class="changelist">
        {% for glossary in glossaries %}
            <li class="glossaryitem">
                {% url terminator_glossary_detail pk=glossary.glossary.pk as glossary_url %}
                {% blocktrans with glossary=glossary.glossary role=glossary.role %}<a href="{{ glossary_url }}">{{ glossary }}</a> as {{ role }}{% endblocktrans %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% blocktrans with user=profile.user %}User {{ user }} does not collaborate in any glossary.{% endblocktrans %}</p>
    {% endif %}
    
    
    <h3>{% blocktrans with user=profile.user %}Comments by {{ user }}{% endblocktrans %}</h3>
    {% if comments.object_list %}
        <ul class="changelist">
        {% for comment in comments.object_list %}
            <li class="commentitem">
                {% blocktrans with comment_url=comment.get_absolute_url comment_id=comment.pk concept_id=comment.content_object.concept.pk language=comment.content_object.language glossary=comment.content_object.concept.glossary comment_username=comment.user.username %}<a href="{{ comment_url }}">Comment {{ comment_id }}</a> in <b>concept #{{ concept_id }}</b> for {{ language }} in glossary {{ glossary }}{% endblocktrans %}
                <p class="change_ago">{% blocktrans with time_ago=comment.submit_date|timesince %}{{ time_ago }} ago{% endblocktrans %}</p>
            </li>
        {% endfor %}
        </ul>
        
        <div class="pagination step-links">
            {% if comments.paginator.num_pages > 1 %}
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}">{% trans "previous" %}</a>
                {% endif %}
                <span class="current">
                    {% blocktrans with number=comments.number total=comments.paginator.num_pages %}Page {{ number }} of {{ total }}.{% endblocktrans %}
                </span>
                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}">{% trans "next" %}</a>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <p>{% blocktrans with user=profile.user %}User {{ user }} didn't posted any comment.{% endblocktrans %}</p>
    {% endif %}
    
{% endblock %}
