{% load i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

<dl id="comments">
    {% for comment in comment_list %}
    <div class="comment{% cycle ' darker_comment' '' %}">
        <dt id="c{{ comment.pk }}">
            <a href="{{ comment.get_absolute_url }}"><b>#{{ forloop.counter }}</b></a> -
            <a href="{% url profiles_profile_detail username=comment.user.username %}"><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />{{ comment.name }}</a> <i>{% blocktrans with submit_date=comment.submit_date %}wrote on {{ submit_date }}:{% endblocktrans %}</i>
        </dt>
        <dd>
            <p>{{ comment.comment|linebreaksbr }}</p>
        </dd>
    </div>
    {% endfor %}
</dl>
