<dl id="comments">
    {% for comment in comment_list %}
    <div class="comment{% cycle ' darker_comment' '' %}">
        <dt id="c{{ comment.id }}">
            <a href="{{ comment.get_absolute_url }}"><b>#{{ forloop.counter }}</b></a> -
            <a href="/accounts/profile/{{ comment.user.pk }}/"><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />{{ comment.name }}</a> <i>wrote on {{ comment.submit_date }}<!-- TODO arranxar o formato da data con algún filtro -->:</i>
        </dt>
        <dd>
            <p>{{ comment.comment|linebreaksbr }}</p>
        </dd>
    </div>
    {% endfor %}
</dl>
