{% load i18n %}

<dl id="comments">
    {% for comment in comment_list %}
    <div class="comment{% cycle ' darker_comment' '' %}">
        <dt id="c{{ comment.id }}">
            <a href="{{ comment.get_absolute_url }}"><b>#{{ forloop.counter }}</b></a> -
            <a href="/profiles/{{ comment.user.username }}/"><img src="{{ STATIC_PREFIX }}images/icon_user_24.png" />{{ comment.name }}</a> <i>{% blocktrans with submit_date=comment.submit_date %}wrote on {{ submit_date }}:{% endblocktrans %}</i><!-- TODO arranxar o formato da data con algún filtro -->
        </dt>
        <dd>
            <p>{{ comment.comment|linebreaksbr }}</p>
        </dd>
    </div>
    {% endfor %}
</dl>
