{% extends "base.html" %}
{% load comments i18n %}

{% comment %}
Copyright 2011 Leandro Regueiro

This file is part of Terminator.

Terminator is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Terminator is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Terminator.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <h1>{% blocktrans count form.errors|length as counter %}Please correct the error below{% plural %}Please correct the errors below{% endblocktrans %}</h1>
    {% else %}
        <h1>{% trans "Preview your comment" %}</h1>
        <blockquote>{{ comment|linebreaks }}</blockquote>
        <p><input type="submit" name="submit" class="submit-post" value="{% trans 'Post your comment' %}" id="submit" /> {% trans "or make changes" %}:</p>
    {% endif %}
    
    <div class="comment_block">
        <div id="comment_form">
            {% include "comments/form.html" %}
        </div>
    </div>
{% endblock %}
